<% if current_user %>
<h3>Welcome: <%= current_user.email %></h3>
<% else %>
<div class="jumbotron">
  <h2>Welcome to the Photo Management App!</h2>
  <p class="lead">
    You'll love managing your Photos with our application. Sign up!
  </p>
</div>
<div class="row">
  <div class="plans clearfix">
    <%= render 'welcome/plans/premium' %>
    <%= render 'welcome/plans/amaze' %>
  </div>
</div>
<% end %>